<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="/shows">Go Back</a>
        <h1>Edit TV Show {{user.id}}</h1>
        <form action="/edit_info/{{user.id}}" method = "post">
            {% csrf_token %}
            <p>Title</p>
            <input type="text" name="title">
            <div>
                <p>Network</p>
                <input type="text" name="network">
            </div>
            <div>
                <p>Release Date</p>
                <input type="date" name="release_date">
            </div>
            <p>Description</p>
            <input type="text" name="desc">
            <button class="btn btn-secondary" type="submit">Update</button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
</body>
</html>