<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 2   </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <a href="/shows">Go Back</a>
            <h1>Add a New Show</h1>
        </div>
        <form action="/create" method="post">
            {% csrf_token %}
            <p>Title</p>
            <input type="text" name="title" id="">
            <div>
                <p>Network</p>
                <input type="text" name="network">
            </div>
            <div>
                <p>Release Date</p>
                <input type="date" name="release_date">
            </div>
            <p>Description</p>
            <input type="text" name="desc">
            <button class="btn btn-secondary" type="submit">Create</button>
        </form>
    </div>
</body>
</html>