<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <a href="/shows">Go Back</a>
            <h1>Tv Show {{user.id}}</h1>
            <p>Tile: {{user.title}}</p>
            <p>Network: {{user.network}}</p>
            <p>Release date: {{user.release_date}}</p>
            <p>Description: {{user.desc}}</p>
            <p>Last Update: {{user.updates_at}}</p>
            <div>
                <a href="/edit/{{user.id}}">Edit</a>
                <a href="/delete/{{user.id}}">Delete</a>
            </div>
        </div>
    </div>
</body>
</html>